@using EasyDown.WebApp.Models.ViewModel;

@{
    ViewBag.Title = "Show";
    UserViewModel user = @ViewBag.user as UserViewModel;
}

<h2>用户信息</h2>
<div class="box-main">

    <div>
        图像：<br />
        @if (user.Picture == null)
        {
            <img src="/Content/Images/userphoto.png" width="100" height="100" style="border-radius:50%;" />
        }
        else
        {
            <img src="/User/ShowPicture/@user.ID" width="100" height="100" style="border-radius:50%;" alt="图像" />
        }
    </div>

    <div>用户名：@user.Username</div>

    <div>角色:@user.Role</div>
    <div>资源总数：@user.Resources.Count</div>
    @if (user != null && ViewBag.CurrentUser != null && ViewBag.CurrentUser.UserName == user.Username)
    {
        <div>
            <a href="/User/Edit/@user.ID">修改用户信息</a>
        </div>
    }
    <h5>我上传的资源:</h5>
    @foreach (var resource in user.Resources)
    {
        <div class="div_inline"><a href="/Resource/Show/@resource.ID">@resource.ResourceName</a> 上传时间:@resource.UploadTime.ToString()</div>
    }

</div>